<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .li{
            color: black;
        }
    </style>
</head>
<body>
    <ul>
        <!-- <li><%=blog.name%> </li>
        <li><%=blog.email%></li> -->
        <li> <%=blog.title%> </li>
        <li><%=blog.author%></li>
        <li><%=blog.Discription%></li>
        <img src='uploads/<%=blog.image%>' width="150"/>
        </ul>
       
</body>
</html>